
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}
body{
  line-height: 1.6;
}
h1{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 60px 0;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input{
  width: 60%;
  max-width: 400px;
  padding:10px 20px;
  border:none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color:#333;


}

#search-button{
  padding: 10px 20px;
  background-color: #138065;
  color: #fff;
  border:none;
  font-size: 18px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;


}

.search-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;


}
.search-result{
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}
.search-result img {
  width:100%;
  height: 200px;/* 100% also take */
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.search-result:hover img{
  opacity: 0.8;

}
.search-result a {
  font-size: 20px;
  text-decoration: none;
  color:#333;
  display: block;
  padding: 10px;
  text-transform: capitalize;
}

#show-more-button {
  background-color: #008cba;
  font-size: 18px;
  border:none;
  color:#fff;
  padding:10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;

  display: none;
  transition: opacity 0.2s ease-in-out;




}
#show-more-button:hover button{
  opacity: 0.8;

}


@media screen and (max-width:768px){
  .search-results{
    padding: 20px;
  }
  .search-result{
    width:45%;
  }
}

@media screen and (max-width:480px){
  .search-result{
    width:100%;
  }
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





